doctype html
html
  head
    title Socket.IO chat
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='/css/style.css')

  body
    .mask
      form#username(action='')
        label Username
        input#u(autocomplete='off' placeholder='#username')
        button Entrar

    .content
      button.btn#sair Sair
      .users
        | Usuários online: 
        span#users
        |  
        span#test

      ul#messages

      form#message(action='')
        input#m(autocomplete='off')
        button Send

    script(src='https://cdn.socket.io/socket.io-1.2.0.js')
    script(src='http://code.jquery.com/jquery-1.11.1.js')
    script(src='/js/scripts.js')