
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }

.content {
  display: none;
}
.mask {
  display: block;
}

form#message {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
form#message input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}
form#message button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

button.btn {
  padding: 5px;
}

.btn#sair{
  position: fixed;
  left: 90%;
  top: 5px;
}

.users { width: auto; padding: 10px; }

#messages { 
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
}

form#username {
  margin: 25% auto;
  max-width: 200px;
}
form#username input {
  border: 1px solid #cccccc;
  padding: 8px;
  width: 200px;
}
form#username button {
  background: #1f1f1f;
  border: none;
  color: #fff;
  margin-top: 15px;
  padding: 10px;
  width: 100%;
}